@import "~@angular/material/theming";
@import "~src/styles";

#personalInfoCont {
  border-radius: 70px;
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;
  background-color: mat-color($app-primary, 700);
  width: 100%;
  margin-left: 30px;
  height: 180px;
  margin-top: 20px;
}
#userInfo {
  margin-left: 10px;
  margin-right: 10px;
  .user-name {
    font-size: 25px;
    color: whitesmoke;
    font-weight: normal;
    margin-top: 11vh;
  }
  .user-title {
    color: whitesmoke;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: -1vh;
  }
}

#profImg {
  border-radius: 100%;
  border-style: solid;
  border-color: mat-color($app-accent, 500);
  margin-top: 2.8vh;
  margin-left: 4vw;
}
.inline {
  float: left;
  margin-right: 5vw;
}
