@import "~@angular/material/theming";
@import "~src/styles";

#personalInfoCont {
  border-radius: 70px;
  border-style: solid;
  border-color: lightgray;
  border-width: 0.5px;
  background-color: mat-color($app-primary, 700);
  width: 100%;
  margin-left: 30px;
  height: 180px;
  margin-top: 20px;
}
#userInfo {
  margin-right: 7px;
  margin-top: 50px;
  .user-name {
    font-size: 28px;
    color: whitesmoke;
    font-weight: lighter;
  }
  .user-title {
    font-size: 17px;
    color: whitesmoke;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 7px;
  }
}

#profImg {
  border-radius: 100%;
  border-style: solid;
  border-color: mat-color($app-accent, 500);
  margin-top: 16px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 16px;
}
