@import "~@angular/material/theming";
@import "~src/styles";

.inputBox {
  margin-top: 30px;
  display: block;
  width: 85%;
  height: 6vh;
  font-size: 1rem;
  border-radius: 15px;
  border-width: 0.5px;
  border-color: mat-color($app-accent, 500);
  outline: none;
}

.mat-basic-chip {
  text-align: center;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: mat-color($app-primary, 700);
  border-radius: 50px;
}
.mat-basic-chip:focus,
input:focus {
  outline: none;
}
.mat-basic-chip:hover {
  cursor: pointer;
}

.vert {
  margin-top: 15px;
  font-size: 1rem;
  color: white;
}
