@import "~@angular/material/theming";
@import "~src/styles";

.searchbox{
  width: auto;
  height: auto;
  border-radius: 50px;
  background: snow;
}

.searchInp {
  width: 18vw;
  height: 3vh;
  font-size: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.mat-form-field{
  color: mat-color($app-primary, 800);
}

#searchInp:focus,
input:focus {
  outline: none;
}
