#searchInp {
  width: 20vw;
  height: 3vh;
  font-size: 1rem;
  border-radius: 15px;
  border: 0.9px;
  padding-left: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
#searchInp:focus,
input:focus {
  outline: none;
}
