<mat-toolbar color="primary">
  <!-- small menu bar smaller screen -->
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="start">
    <ul fxLayout fxLayoutGap="20px" class="brand-items">
      <li>
        <a routerLink="/home">
          <img
            src="../../assets/img/circle-teach-logo.png"
            width="auto"
            height="45"
          />
        </a>
      </li>
      <li>
        <img
          src="../../assets/img/white-divider.png"
          width="auto"
          height="45"
        />
      </li>
      <li>
        <a routerLink="/home">
          <img
            src="../../assets/img/circle-teach-wrote.png"
            width="auto"
            height="40"
          />
        </a>
      </li>
    </ul>
  </div>

  <div fxHide.xs>
    <app-user-search></app-user-search>
  </div>

  <!-- full nav bar for larger screen -->
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <!-- Remove notification button for now
        <a routerLink="/notifications">
          <mat-icon>notifications</mat-icon>
        </a>
        -->
      </li>
      <li>
        <a routerLink="/messaging">
          <mat-icon>messages</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/settings">
          <mat-icon>settings</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/profile/{{ id }}">
          <div class="profile-image-container" *ngIf="profileURL != null">
            <img
              class="profile-pic"
              [src]="profileURL"
              width="auto"
              height="40"
              alt="Profile Image"
            />
          </div>
        </a>
        <a routerLink="/profile/{{ id }}">
          <div class="profile-image-container" *ngIf="profileURL == null">
            <mat-icon>person</mat-icon>
          </div>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
