@import "~@angular/material/theming";
@import "~src/styles";

a {
  text-decoration: none;
  color: mat-color($app-accent, 50);
}

a:hover,
a:active {
  color: mat-color($app-accent, 400);
}

.brand-items {
  list-style-type: none;
  padding: 1;
  margin: 0;
  padding-top: 10px;
}

.navigation-items {
  list-style-type: none;
  padding: 1;
  margin: 0;
}

mat-toolbar {
  border-radius: 0px;
}

mat-icon {
  padding-top: 7px;
  @include md-icon-size(32px);
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
