<mat-toolbar color="primary">
  <!-- small menu bar smaller screen -->
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="start">
    <ul fxLayout fxLayoutGap="20px" class="brand-items">
      <li>
        <a routerLink="/home">
          <img
            src="../../assets/img/circle-teach-logo.png"
            width="auto"
            height="45"
          />
        </a>
      </li>
      <li>
        <img
          src="../../assets/img/white-divider.png"
          width="auto"
          height="45"
        />
      </li>
      <li>
        <a routerLink="/home">
          <img
            src="../../assets/img/circle-teach-wrote.png"
            width="auto"
            height="40"
          />
        </a>
      </li>
    </ul>
  </div>

  <!--  TODO Put Search bar here-->
  <app-user-search></app-user-search>

  <!-- full nav bar for larger screen -->
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a routerLink="/notifications">
          <mat-icon>notifications</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/messages">
          <mat-icon>messages</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <!-- TODO Replace this with profile picture-->
          <mat-icon>person</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/settings">
          <mat-icon>settings</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
