.layout-wrapper{
  height: 100%;
}

.flex-wrapper{
  height: 100%;
}

main {
  padding: 10px;
}

@import "~@angular/material/theming";
@import "~src/styles";

.brand-items {
  list-style-type: none;
  padding: 1;
  margin: 0;
  padding-top: 10px;
}

.navigation-items {
  list-style-type: none;
  padding: 1;
  margin: 0;
  opacity: 0.9;
}

mat-toolbar {
  border-radius: 0px;
}

.mat-display-1 {
  margin-bottom: 0;
}

h3.mat-subheading-1 {
  color: mat-color($app-primary, 300);
}

#normal {
  color: mat-color($app-accent, 400);
}

.signup-container {
  flex-direction: column;

}

.signup-container > * {
  width: 100%;
}


