<div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
  <div fxFlex="100%" fxFlex.lt-md="100%" class="flex-wrapper">
    <mat-toolbar color="primary">
      <div fxFlex fxLayout fxLayoutAlign="start">
        <ul fxLayout fxLayoutGap="20px" class="brand-items">
          <li>
              <img
                src="../../assets/img/circle-teach-logo.png"
                width="auto"
                height="45"
              />
          </li>
          <li>
            <img
              src="../../assets/img/white-divider.png"
              width="auto"
              height="45"
            />
          </li>
          <li>
              <img
                src="../../assets/img/circle-teach-wrote.png"
                width="auto"
                height="40"
              />
          </li>
        </ul>
      </div>

      <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items" style="padding-top: 5px; padding-bottom: 5px;">
          <li>
            <mat-form-field appearance="fill">
              <input matInput placeholder="Enter Email" [formControl]="loginEmail">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field appearance="fill">
              <input matInput placeholder="Enter Password" [type]="loginPassHide ? 'password' : 'text'" [formControl]="loginPassword">
              <mat-icon matSuffix (click)="loginPassHide = !loginPassHide">{{loginPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </li>
          <li style="padding-top: 29px;">
            <button mat-raised-button color="accent" *ngIf="!loginEmail.valid || !loginPassword.valid" disabled >Log in</button>
            <button mat-raised-button (keyup.enter)="auth.login(loginEmail.value, loginPassword.value)" color="accent"
                    *ngIf="loginEmail.valid && loginPassword.valid" (click)="auth.login(loginEmail.value, loginPassword.value)">Log in</button>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <section fxLayout="column">
      <div fxFlexAlign="center">
        <div class="signup-container" style="padding-top: 2em;">
          <h2 class="mat-display-1">Sign up to CircleTeach!</h2>
          <h3 id="normal" *ngIf="!this.failed" class="mat-subheading-1">Join and improve educational for all today!</h3>
          <h3 *ngIf="signupFailed" class="mat-subheading-1">Failed to sign up!</h3>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name" [formControl]="signupName">
            <mat-error *ngIf="signupName.invalid">{{getNameErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" [formControl]="signupEmail">
            <mat-error *ngIf="signupName.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [type]="signupPassHide ? 'password' : 'text'" [formControl]="signupPassword">
            <mat-icon matSuffix (click)="signupPassHide = !signupPassHide">{{signupPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="signupName.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>

          <div class="button-row">
            <button mat-button color="primary" *ngIf="!signupEmail.valid || !signupPassword.valid || !signupName.valid" disabled >Sign Up</button>
            <button mat-button (keyup.end)="finalSignUp()" color="primary" *ngIf="signupEmail.valid && signupPassword.valid && signupPassword.valid" (click)="finalSignUp()">Sign Up</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
