<app-layout>
  <main>
    <div id="usersCont" class="inline border">
      <input id="searchInp" class="border" type="text" placeholder="Search Messages" />

      <ng-container id="userList" *ngIf="groups; else noGroups">
        <div>
            <div *ngFor="let group of groups; let i = index" [attr.data-index]="i">
                <h3>{{i}}</h3>
                <h3>{{group.name}}</h3>
            </div>
      </div>
      </ng-container>
      <ng-template id="userList" #noGroups>
        <p></p>
        <div>Search a User to Start Chatting!</div>
      </ng-template>

    </div>
    <div id="messagesCont" class="inline border">
      <h3 id="messageTitle">{{user}}</h3>
      <div id="messages">
        <ng-container class="messages" *ngIf="messages">
            <div *ngFor="let message of messages">
                <ng-container *ngIf="message; else left" >   <!--TODO- set positions-->
                    <p class="messageRight">{{message}}</p> 
                    <p class="messageLeft">{{message}}</p>
                </ng-container>
                <ng-template #left>
                    <p class="messageLeft">{{message}}</p>
                </ng-template>
            </div>
        </ng-container>
      </div>
      <p></p>
      <button mat-button (click)="messageSubmit()" id="submitBtn" class="border" >Send</button>

      <input id="messageInp" class="border" type="text" placeholder="Type a Message..." />
    </div>

  </main>
</app-layout>