<div id="mycircle">

  <div id="label" class="label">
    <!--Presumably 'Profile' and 'My Circle' are buttons that
    enable the user to choose between displaying their profile
    information vs. users in their circle...-->
      <button mat-button class="contentbutton">
        <h2>Profile</h2>
      </button>
      <button mat-button class="contentbutton">
        <h2>My Circle</h2>
      </button>
  </div>
  
  <div class="wrapper">
    <div id="circlecontent" class="label">
      <!--Want to populate this section with either profile information or 
      users in their circle-->
      <!--For now, putting in placeholder sections...-->
        <p>Certifications</p>
        <p>Education</p>
        <p>Experience</p>
        <p>Skills & Training</p>
    </div>
  </div>
  
  
  </div>