<div id="mycircle">
  <div class="label">
    <mat-button-toggle-group [value]="toggle" (change)="toggleView($event)">
      <mat-button-toggle
        [value]="true"
        class="b1"
        value="true"
        disableRipple="true"
      >
        <h2 class="profile">Profile</h2>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="false"
        class="b2"
        value="false"
        disableRipple="true"
      >
        <h2 *ngIf="!loggedInUser" class="circle">{{ userName }}'s Circle</h2>
        <h2 *ngIf="loggedInUser" class="circle">My Circle</h2>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- show profile details if it is toggled -->

  <div *ngIf="toggle">
    <div id="profileDetailsCont">
      <!-- Certifications -->
      <div class="detail-title">Certifications</div>
      <div
        class="container"
        fxLayout="column"
        fxLayout.xs="column"
        fxLayoutAlign="left"
        fxLayoutGap="10px"
        fxLayoutGap.xs="10px"
      >
        <div class="item item-4" fxFlex="25%">
          <ul class="a">
            <li *ngFor="let certification of certifications">
              {{ certification }}
            </li>
          </ul>
        </div>
      </div>
      <hr class="full-divider" />
      <!-- Education -->
      <div class="detail-title">Education</div>
      <div
        class="container"
        fxLayout="column"
        fxLayout.xs="column"
        fxLayoutAlign="left"
        fxLayoutGap="10px"
        fxLayoutGap.xs="10px"
      >
        <div class="item item-1" fxFlex="25%">{{ institution }}</div>
        <div class="item item-2" fxFlex="25%">{{ fieldsOfStudy }}</div>
        <div class="item item-3" fxFlex="25%">{{ educationDates }}</div>
        <div class="item item-4" fxFlex="25%">
          <ul class="a">
            <li *ngIf="!eduEmpty">{{ educationDescription }}</li>
          </ul>
        </div>
      </div>
      <hr class="full-divider" />
      <!-- Experience -->
      <div class="detail-title">Experience</div>
      <div
        class="container"
        fxLayout="column"
        fxLayout.xs="column"
        fxLayoutAlign="left"
        fxLayoutGap="10px"
        fxLayoutGap.xs="10px"
      >
        <div class="item item-1" fxFlex="25%">{{ jobTitle }}</div>
        <div class="item item-2" fxFlex="25%">{{ jobLocation }}</div>
        <div class="item item-3" fxFlex="25%">{{ jobDates }}</div>
        <div class="item item-4" fxFlex="25%">
          <ul class="a">
            <li *ngIf="!jobEmpty">{{ jobDescription }}</li>
          </ul>
        </div>
      </div>
      <hr class="full-divider" />

      <!-- Skills & Trainings -->
      <div class="detail-title">Skills & Trainings</div>
      <div
        class="container"
        fxLayout="column"
        fxLayout.xs="column"
        fxLayoutAlign="left"
        fxLayoutGap="10px"
        fxLayoutGap.xs="10px"
      >
        <div class="item item-4" fxFlex="25%">
          <ul class="a">
            <li *ngFor="let skill of skills">
              {{ skill }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!toggle">
    <div id="circlecontent">
      <!--Being bad starting here-->
      <div *ngFor="let connection of connections; let i = index">
        <!-- {{ connection }} -->
        <a
          class="link"
          (click)="changeToggle()"
          routerLink="/profile/{{ connectionsList[i] }}"
        >
          <div id="personalInfoCont" gdAreas="profImage userInfo addCircle">
            <div id="profImgContainer" gdArea="profImage">
              <img
                id="profImg"
                src="{{ profileImg }}"
                alt="Profile Image"
                height="80px"
                width="80px"
              />
            </div>
            <div id="userInfo" gdArea="userInfo">
              <div class="user-name">{{ connection }}</div>
              <div *ngIf="!jobEmpty" class="user-title">
                <!-- {{ jobTitle }} at {{ jobLocation }} -->
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
