@import "~@angular/material/theming";
@import "~src/styles";

#profileDetailsCont {
  border-radius: 70px;
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;
  width: 50%;
  margin-left: 30px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

.container {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  // remove border later
  // border-radius: 90px;
  // border-width: 0.5px;
  // border-style: solid;
  // border-color: grey;
  .item-1 {
    font-weight: 700;
    margin-left: 40px;
    margin-right: 40px;
  }
  .item-2 {
    font-weight: normal;
    margin-left: 40px;
    margin-right: 40px;
  }
  .item-3 {
    opacity: 0.5;
    margin-left: 40px;
    margin-right: 40px;
  }
  .item-4 {
    font-weight: normal;
    margin-left: 57px;
    margin-right: 10px;
    opacity: 0.7;
  }
}

.detail-title {
  font-weight: normal;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

.small-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 50%;
}

.inline {
  float: left;
  margin-right: 5vw;
}

.partial-divider {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 50px;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
  border-color: gray;
}
.full-divider {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
  border-color: gray;
}

ul.a {
  list-style-type: circle;
  padding: 0px;
}
