<p>the button options go here</p>
<!-- show this div if profile button is clicked -->
<div id="profileDetailsCont">
  <!-- Certifications -->
  <div class="detail-title">Certifications</div>
  <div
    class="container"
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutAlign="left"
    fxLayoutGap="10px"
    fxLayoutGap.xs="10px"
  >
    <div class="item item-1" fxFlex="25%">{{ certification }}</div>
    <div class="item item-2" fxFlex="25%">{{ certificationState }}</div>
    <div class="item item-3" fxFlex="25%">{{ certificationDate }}</div>
  </div>
  <hr class="full-divider" />
  <!-- Education -->
  <div class="detail-title">Education</div>
  <div
    class="container"
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutAlign="left"
    fxLayoutGap="10px"
    fxLayoutGap.xs="10px"
  >
    <div class="item item-1" fxFlex="25%">{{ institution }}</div>
    <div class="item item-2" fxFlex="25%">{{ fieldsOfStudy }}</div>
    <div class="item item-3" fxFlex="25%">{{ datesEnrolled }}</div>
    <div class="item item-4" fxFlex="25%">
      <ul class="a">
        <li>{{ description }}</li>
      </ul>
    </div>
  </div>
  <hr class="full-divider" />
  <!-- Experience -->
  <div class="detail-title">Experience</div>
  <div
    class="container"
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutAlign="left"
    fxLayoutGap="10px"
    fxLayoutGap.xs="10px"
  >
    <div class="item item-1" fxFlex="25%">{{ jobTitle }}</div>
    <div class="item item-2" fxFlex="25%">{{ jobLocation }}</div>
    <div class="item item-3" fxFlex="25%">{{ jobDates }}</div>
    <div class="item item-4" fxFlex="25%">
      <ul class="a">
        <li>{{ jobDescription }}</li>
      </ul>
    </div>
  </div>
  <hr class="full-divider" />

  <!-- Skills & Trainings -->
  <div class="detail-title">Skills & Trainings</div>
  <div
    class="container"
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutAlign="left"
    fxLayoutGap="10px"
    fxLayoutGap.xs="10px"
  >
    <div class="item item-4" fxFlex="25%">
      <ul class="a">
        <li>{{ skill1 }}</li>
        <li>{{ skill2 }}</li>
        <li>{{ skill3 }}</li>
      </ul>
    </div>
  </div>
</div>
