<div id="activitylog">

<div id="label">
  <!--Presumably 'Posts' and 'Stars' are buttons that
  enable the user to choose between displaying their recent posts
  vs. other people's posts that they've starred...-->
    <button mat-button class="contentbutton">
      <h2>Posts</h2>
    </button>
    <button mat-button class="contentbutton">
      <h2>Stars</h2>
    </button>
</div>

<div class="wrapper">
  <div id="activitycontent" class="activitycontent">
    <!--Want to populate this section with a list of recent posts-->
    <!--For now, putting in placeholder posts...-->
    <app-posts></app-posts>
    <app-posts></app-posts>
    <app-posts></app-posts>
  </div>
</div>


</div>