<div id="activitylog">
  <div id="label">
    <mat-button-toggle-group [value]="toggle" (change)="toggleView($event)">
      <mat-button-toggle
        [value]="true"
        class="b1"
        value="true"
        disableRipple="true"
      >
        <h2 class="profile">Posts</h2>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="false"
        class="b2"
        value="false"
        disableRipple="true"
      >
        <h2 class="circle">Stars</h2>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="toggle">
    <div class="wrapper">
      <div id="activitycontent" class="activitycontent">
        <!--Populate with list of users Recent Posts-->
        <app-posts></app-posts>
      </div>
    </div>
  </div>

  <div *ngIf="!toggle">
    <div class="wrapper">
      <div id="activitycontent" class="activitycontent">
        <!--Populate with list of users Starred Posts-->
        <app-posts></app-posts>
      </div>
    </div>
  </div>
</div>
