<div id="personalInfoCont" gdAreas="profImage userInfo addCircle">
  <div id="profImgContainer" gdArea="profImage">
    <img
      id="profImg"
      src="{{ profileImg }}"
      alt="Profile Image"
      height="140px"
      width="140px"
    />
    <!-- <img
      id="profImg"
      [src]="profileURL"
      width="140px"
      height="140px"
      alt="Profile Image"
    /> -->
  </div>

  <div id="userInfo" gdArea="userInfo">
    <div class="user-name">{{ userName }}</div>
    <div *ngIf="!jobEmpty" class="user-title">
      {{ jobTitle }} at {{ jobLocation }}
    </div>
  </div>

  <div *ngIf="!loggedInUser" id="addFriend" gdArea="addCircle">
    <button
      mat-fab
      *ngIf="friends"
      [color]="'myfriend'"
      (click)="toggleFriend()"
    >
      <mat-icon>person</mat-icon>
    </button>
    <button
      mat-fab
      *ngIf="!friends"
      [color]="'notfriend'"
      (click)="toggleFriend()"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
</div>
