<div id="personalInfoCont" gdAreas="profImage userInfo addCircle">
  <div id="profImgContainer" gdArea="profImage">
    <img
      id="profImg"
      src="{{ profileImg }}"
      alt="Profile Image"
      height="140px"
      width="140px"
    />
  </div>

  <div id="userInfo" gdArea="userInfo">
    <div class="user-name">{{ userName }}</div>
    <div class="user-title">{{ jobTitle }} at {{ jobLocation }}</div>
  </div>

  <div *ngIf="connectionButton" id="addFriend" gdArea="addCircle">
    <button
      mat-fab
      *ngIf="friends"
      [color]="'myfriend'"
      (click)="toggleFriend()"
    >
      <mat-icon>person</mat-icon>
    </button>
    <button
      mat-fab
      *ngIf="!friends"
      [color]="'notfriend'"
      (click)="toggleFriend()"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
</div>
