<!--Write Posts Component-->
<div *ngIf="canWritePost" id="postCont" gdAreas="proImg postWrite postWrite postWrite| addTags tags uploadBtn postBtn">
  <div gdArea="proImg" id="profImgContainer">
    <img id="proImg" src="{{ profileImg }}" style="background-color: blue" alt="Profile Image" height="70px"
      width="70px" />
  </div>

  <div gdArea="postWrite" id="writePost">
    <input id="postInp" type="text" placeholder="Write new post..." [(ngModel)]="newPostInp" />
  </div>

  <div gdArea="addTags">
    <mat-form-field appearance="legacy" id="tagsInp">
      <input matInput [formControl]="tagEntry" type="text" placeholder="Add Tags" [matAutocomplete]="auto"
        (keydown.enter)="addTag()" />
      <mat-autocomplete matAutocompleteOrigin #auto="matAutocomplete" (optionSelected)="addTag()">
        <mat-option *ngFor="let tag of (filteredTags | async)" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div gdArea="tags" id="tagsCont">
    <mat-chip-list class="mat-chip-list">
      <mat-basic-chip *ngFor="let tag of addedTags" (removed)="remove(tag)">
        <mat-icon matChipRemove>cancel</mat-icon>
        <p class="tagtext">{{ tag.name }}</p>
      </mat-basic-chip>
    </mat-chip-list>
  </div>

  <button gdArea="uploadBtn" id="uploadBtn" class="filterBtn" mat-button (click)="uploadClick()">
    <mat-icon>cloud_upload</mat-icon>
    Upload
  </button>
  <button gdArea="postBtn" id="postBtn" class="filterBtn" mat-button (click)="postClick()">
    Post
  </button>
</div>
<!-- style="margin-top: 15px; margin-right: 15px; " -->
<hr class="full-divider" />
<div *ngIf="canWritePost" gdAreas="sortByTxt sortByBtn postsByTxt postsByBtn">
  <p id="sortByDisp" gdArea="sortByTxt">Sort By:</p>
  <button gdArea="sortByBtn" class="filterBtn" mat-button (click)="sortClick()">
    Top
  </button>
  <p>Posts By:</p>
  <button gdArea="postsByBtn" class="filterBtn" mat-button (click)="postsByClick()">
    All
  </button>
</div>
<hr class="full-divider" />

<!--Actual List of Posts-->
<div id="postsList" *ngFor="let post of posts">
  <!--Version of Posts that displayus when NOT the activity log-->
  <div *ngIf="activityLogView" id="postCont"
    gdAreas="profImage userInfo userInfo postAge  | content content content content  | tags  postInfo postInfo postInfo | comment comment comment comment">
    <div id="profImgContainer" gdArea="profImage">
      <a routerLink="/profile/{{ post.user }}">
        <img id="profImg" src="{{ post.profImg }}" onmouseover="" style="background-color: blue; cursor: pointer"
          alt="Profile Image" height="70px" width="70px" />
      </a>
    </div>

    <div id="userInfo" gdArea="userInfo">
      <a class="link" routerLink="/profile/{{ post.user }}">
        <h2 onmouseover="">
          {{ post.name }}
        </h2>
        <p>{{ post.profInfo }}</p>
      </a>
    </div>

    <div
      style="text-align: right; margin-right: 25px"
      id="postAge"
      gdArea="postAge"
    >
      <!-- <p>{{ post.time.seconds * 1000 | date: "short" }} hi</p> -->
      <p>{{ post.time }}</p>
    </div>

    <div id="content" gdArea="content">
      <p>{{ post.content }}</p>
    </div>

    <div id="tagsCont" style="width: 200px; height: 80px;" gdArea="tags">
      <mat-chip-list class="mat-chip-list">
        <mat-basic-chip *ngFor="let tag of post.tags">
          <p class="tagtextPost">{{ tag.name }}</p>
        </mat-basic-chip>
      </mat-chip-list>
    </div>

    <div id="postInfo" gdArea="postInfo" gdAreas="star starDisp comm down">
      <div gdArea="star" class="postInfoEle" id="starBtn">
        <button *ngIf="post.isStarredByUser" mat-button (click)="starClick(post)">
          <mat-icon class="gold-icon">star</mat-icon>
        </button>
        <button *ngIf="!post.isStarredByUser" mat-button (click)="starClick(post)">
          <mat-icon class="gold-icon">star_border</mat-icon>
        </button>
      </div>

      <div gdArea="starDisp" class="postInfoEle" id="stars">
        <p id="starDisp">{{ post.stars }}</p>
      </div>

      <div gdArea="comm" class="postInfoEle" id="commentBtn">
        <button mat-button (click)="commentClick(post)">
          <mat-icon>comment</mat-icon>
        </button>
      </div>

      <div gdArea="down" class="postInfoEle" id="downloadBtn">
        <button mat-button (click)="downloadClick()">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="post.showComments" gdArea="comment" id="commentCont">
      <ng-container>
        <div id="writeComm" gdAreas="inp inp sub">
          <input
            gdArea="inp"
            id="commInp"
            type="text"
            placeholder=" Write new comment..."
            [(ngModel)]="newCommentInp"
          />
          <button
            gdArea="sub"
            id="commSubBtn"
            mat-button
            (click)="submitCommentClick(post)"
          >
            Submit
          </button>
        </div>
        <div
          *ngFor="let comment of post.comments"
          id="comment"
          gdAreas="img name | cont cont"
        >
          <img
            gdArea="img"
            id="profImg"
            src="{{ comment.profileImg }}"
            onmouseover=""
            style="background-color: blue; cursor: pointer"
            alt="Profile Image"
            height="55px"
            width="55px"
          />
          <h3 id="commentUserName" style="margin-left: -70%;" gdArea="name">{{ comment.user }}</h3>
          <p gdArea="cont">{{ comment.content }}</p>
        </div>
      </ng-container>
    </div>
  </div>

  <!--Version of Posts that displayus when IT IS the activity log-->
  <div style="height: 350px" *ngIf="!activityLogView" id="postCont"
    gdAreas="profImage userInfo postAge  | content content content  | tags tags tags ">
    <div id="profImgContainer" gdArea="profImage">
      <img id="profImg" src="../../assets/uwath2018.png" style="background-color: blue" alt="Profile Image"
        height="70px" width="70px" />
    </div>

    <div
      style="text-align: right; margin-right: 5px"
      id="userInfo"
      gdArea="userInfo"
    >
      <a class="link" routerLink="/profile/{{ post.user }}">
        <h2 onmouseover="">
          {{ post.name }}
        </h2>
        <p>{{ post.profInfo }}</p>
      </a>
    </div>

    <div style="margin-left: 5vw" id="postAge" gdArea="postAge">
      <!-- <p>{{ post.time.seconds * 1000 | date: "short" }} hi</p> -->
      <p>{{ post.time }}</p>
    </div>

    <div id="content" gdArea="content">
      <p>{{ post.content }}</p>
    </div>

    <div id="tagsCont" style="width: 50px; height: 20px;" gdArea="tags">
      <mat-chip-list class="mat-chip-list">
        <mat-basic-chip *ngFor="let tag of selectedTags" (removed)="remove(tag)">
          <mat-icon matChipRemove>cancel</mat-icon>
          <div class="vert">
            {{ tag.name }}
          </div>
        </mat-basic-chip>
      </mat-chip-list>
    </div>

    <div id="postInfo" *ngIf="canWritePost" gdArea="postInfo" gdAreas="star starDisp comm down">
      <div gdArea="star" class="postInfoEle" id="starBtn">

        <button mat-button (click)="starClick(post)">Star</button>
      </div>

      <div gdArea="starDisp" class="postInfoEle" id="stars">
        <p id="starDisp">{{ post.stars }}</p>
      </div>

      <div gdArea="comm" class="postInfoEle" id="commentBtn">
        <button mat-button (click)="commentClick(post)">Comment</button>
      </div>


      <div gdArea="star" class="postInfoEle" id="starBtn">
        <button *ngIf="isStared" mat-button (click)="starClick(post)">
          <mat-icon class="gold-icon">star_border</mat-icon>
        </button>
        <button *ngIf="!isStared" mat-button (click)="starClick(post)">
          <mat-icon class="gold-icon">star</mat-icon>
        </button>
      </div>

      <div gdArea="starDisp" class="postInfoEle" id="stars">
        <p id="starDisp">{{ post.stars }}</p>
      </div>

      <div gdArea="comm" class="postInfoEle" id="commentBtn">
        <button mat-button (click)="commentClick(post)">
          <mat-icon>comment</mat-icon>
        </button>
      </div>

      <div gdArea="down" class="postInfoEle" id="downloadBtn">
        <button mat-button (click)="downloadClick()">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="post.showComments" gdArea="comment" id="commentCont">
      <ng-container>
        <div id="writeComm" gdAreas="inp inp sub">
          <input gdArea="inp" id="commInp" type="text" placeholder="Write new comment..." [(ngModel)]="newCommentInp" />
          <button gdArea="sub" id="commSubBtn" mat-button (click)="submitCommentClick(post)">
            Submit
          </button>
        </div>
        <div *ngFor="let comment of comments" id="comment" gdAreas="img name | cont cont">
          <img gdArea="img" id="profImg" src="../../assets/uwath2018.png" style="background-color: blue"
            alt="Profile Image" height="45px" width="45px" />
          <h3 id="commentUserName" gdArea="name">{{ comment.user }}</h3>
          <p gdArea="cont">{{ comment.content }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>