@import "~@angular/material/theming";
@import "~src/styles";

.body {
  background-color: #f2f6ff;
}

.edit-profile-button {
  background-color: mat-color($app-primary, 700);
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 5vh;
}
.edit-profile-button:focus,
input:focus {
  outline: none;
}
.edit-profile-button:hover {
  cursor: pointer;
}

.filterBtn {
  margin-left: -20%;
  width: 10%;
  border-radius: 50px;
  border-style: solid;
  border-color: mat-color($app-accent, 500);
}
