<app-layout>
  <main class="body">
    <mat-card-content>
      <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1px">
        <div fxFlex.gt-xs="50%" fxFlex>
          <app-basicinfo></app-basicinfo>
          <app-mycircle></app-mycircle>
        </div>
        <div fxFlex.gt-s="50%" fxFlex>
          <app-activitylog></app-activitylog>
        </div>
      </div>
    </mat-card-content>
    <div fxLayoutAlign="center" *ngIf="editProfileButton">
      <a routerLink="/editprofile">
        <button class="edit-profile-button">
          <b>Edit Profile</b>
        </button>
      </a>
    </div>
  </main>
</app-layout>
