<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
    <mat-icon>mail</mat-icon><span class="nav-caption">Messages</span>
  </a>
  <a mat-list-item routerLink="/profile" (click)="onSidenavClose()">
    <mat-icon>person</mat-icon><span class="nav-caption">Profile</span>
  </a>
  <a mat-list-item routerLink="/settings" (click)="onSidenavClose()">
    <mat-icon>settings</mat-icon><span class="nav-caption">Settings</span>
  </a>
</mat-nav-list>
